/*--branding-color: #6c63ff;
  --secondary-color: #f9f7fe; #c19898 #a45c5c  #f0ece2 #E8ACEC F1E6F1;*/

:root {
  --branding-color: #70c2c7;
  --secondary-color: #e8f0f1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 110px;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: #272142;
  font-weight: 500;
  font-size: 26px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 32px;
  color: #272142;
  margin: 0;
  line-height: 2;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 32px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
p {
  font-size: 16px;
  line-height: 30px;
  color: 272142;
}

.content-container {
  padding: 10px 20px;
}

.content-container h1 {
  font-size: 48px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 700;
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.project-button {
  background: white;
  color: var(--branding-color);
  border: solid var(--branding-color);
  text-decoration: none;
  border-radius: 4px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 32px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.family-photo {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  text-align: center;
}

.logo {
  max-width: 115px;
}
nav {
  padding: 5px 0;
}

nav ul {
  padding: 0;
  margin-bottom: -25px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 120px;
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 40px 120px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

footer .contact-box p {
  margin-left: 8px;
  font-size: 18px;

}

footer a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 10px;
  color: var(--branding-color);
  font-size: 25px;
  background-color: var(--secondary-color);
  padding: 11px 17px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.open-sourced-link {
color: black; 
}

.open-sourced-link:hover {
  color:var(--branding-color);
}

@media (max-width: 900px) {
nav ul {
  margin-right: 15px;
}

  .project-description {
   padding: 10px;
   margin: 10px;
  }

  h1 {
    font-size: 54px;
    line-height: 60px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  .hero h2 {
    font-size: 20px;
  }

  p {
    text-align: center;
    line-height: 20px;
  }

  .hero {
    padding: 30px 20px;
  }

  .content {
    text-align: centered;
    padding: 0;
  }

  .btn-branding {
    text-align: center;
    line-height: 16px;
    margin: 10px;
  }

  .logo {
    max-width: 75px;
  }

  nav li {
    margin-left: 5px;
  }

  footer .contact-box {
    padding: 30px;
    margin: 20px;
  }

  footer .contact-box p {
    font-size: 12px;
    margin-left: 2px;
  }

   h4 {
    font-size: 20px;
  }

  .btn {
font-size: 12px;
padding: 8px;
  }

 footer a {
font-size: 16px;
 }

 .content-container h1 {
  line-height: 1;
}

.project-column-container {
text-align: center;
}

.open-sourced-footer {
  margin: 10px;
}
.st-pete-work {
  margin-left: 12px;
}

}