/*--branding-color: #6c63ff;
  --secondary-color: #f9f7fe; #c19898 #a45c5c  #f0ece2 #E8ACEC F1E6F1;*/

:root {
  --branding-color: #70c2c7;
  --secondary-color: #e8f0f1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 110px;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: #272142;
  font-weight: 500;
  font-size: 26px;
}

.hero p {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 32px;
  color: #272142;
  margin: 0;
  line-height: 2;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 32px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}
p {
  font-size: 16px;
  line-height: 30px;
  color: 272142;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 48px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 700;
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.project-button {
  background: white;
  color: var(--branding-color);
  border: solid var(--branding-color);
  text-decoration: none;
  border-radius: 4px;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 32px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.family-photo {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  text-align: center;
}

.logo {
  max-width: 115px;
}
nav {
  padding: 5px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 120px;
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 40px 120px;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  position: relative;
left: 6px;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 10px;
  color: var(--branding-color);
  font-size: 25px;
  background-color: var(--secondary-color);
  padding: 11px 17px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  h1 {
    font-size: 64px;
    line-height: 80px;
    text-align: center;
  }
  h2 {
    font-size: 44px;
    text-align: center;
  }
  p {
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: centered;
    padding: 0;
  }

  .btn-branding {
    text-align: center;
  }

  .logo {
    max-width: 75px;
  }

  nav li {
    margin-left: 5px;
  }

  footer .contact-box {
    padding: 30px;
  }

   h4 {
    font-size: 20px;
  }

  .btn {
font-size: 18px;
padding: 10px;
  }

 

}
